.wp-admin .tiny-warning-message {
	color: crimson;
	font-weight: bold;
	text-decoration: underline;
}
.wp-admin .tab-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.wp-admin .tab-content .admin-left {
	min-width:600px;
	max-width: 1200px;
	padding: 5px 0;
	margin-top: 10px;
	display: inline-block;
}
.wp-admin .tab-content .admin-right {
	width: 280px;
	min-width: 280px;
	background: #e7e7e8;
	border: 1px solid #c3c4c7;
	padding: 5px 25px;
	border-radius: 6px;
	margin-top: 10px;
	margin-left: 30px;
}
.donate-button {
	background-color:#d75151;
	color: #fff;
	display: block;
	text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.15384615;
    min-height: 32px;
    margin: 20px 0;
    padding: 0 10px;
    cursor: pointer;
	border: 1px solid #d75151;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}
.donate-button:hover,
.donate-button:active,
.donate-button:focus {
	background-color: #b45c5c;
	color: #fff;
}