.wp-admin .tiny-warning-message{
	color: crimson;
	font-weight: bold;
	text-decoration: underline;
}
.wp-admin .tiny-left-content {
	width: 55%;
	display: inline-block;
	vertical-align: top;
}
.wp-admin .tiny-right-content {
	width: 44%;
	display: inline-block;
	vertical-align: top;
}